{% extends "dashboard.html" %}

{% block content %}
    <div class="container-md">
        <h3 class="ht-heading -m">Latest container tags with package:
            {{ package.name }} - {{ package.version }} - {{ package.provider }}
        </h3>
        <div class="ht-table">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Container name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cb in data %}
                    <tr>
                        <td><a href="{% url 'containers:cbase' cb.cid %}">{{ cb.fullname }} </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}