{% extends "dashboard.html" %}

{% block content %}
    <div class="container-md">
        <h3 class="ht-heading -m">Latest container tags with package:
            {{ package.name }} - {{ package.version }} - {{ package.provider }}
        </h3>
        <div class="ht-scrollable">
            <table class="ht-table">
                <thead>
                    <tr>
                        <th scope="col">Container name</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data|length >= 1 %}
                        {% for cb in data %}
                        <tr>
                            <td><a href="{% url 'containers:cbase' cb.cid %}">{{ cb.fullname }} </a></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td>No packages available</td>
                        </tr>
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}