{% extends "servers/base.html" %}
{% block title %}Host details{% endblock %}

{% block content %}
<div class="container-md m-5">
    <p class="h2"> You are viewing details of
        {{ host.hostname }}
    </p>
</div>
<div class="container-md m-5">
    <h3>OS details</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>OS Name</td>
                <td>{{ details.osname }}</td>
            </tr>
            <tr>
                <td>OS Release</td>
                <td>{{ details.osrelease }}</td>
            </tr>
            <tr>
                <td>Domain</td>
                <td>{{ details.domain }}</td>
            </tr>
            <tr>
                <td>Kernel version</td>
                <td>{{ details.rkr }}</td>
            </tr>
            <tr>
                <td>IPv4</td>
                <td>{{ details.ipv4 }}</td>
            </tr>
            <tr>
                <td>IPv6</td>
                <td>{{ details.ipv6 }}</td>
            </tr>


        </tbody>
    </table>

</div>
<div class="container-md m-5">
    <p class="h3">Current package list</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Package name</th>
                <th scope="col">Package version</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
            <tr>
                <td>{{ package.name }}</td>
                <td>{{ package.version }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

<!-- It is running Kernel {{ host.rkr }} using {{ host.osname }} {{ host.osrelease }}.

<p>Domain: {{ host.domain }}</p>
<p>Cosmos URL: {{ host.cosmosrepourl }}</p> -->