{% extends "dashboard.html" %}

{% block main %}
    <div class="ht-content -center -middle -narrow">
        <h1 class="ht-heading -xxl -center">Hittade server</h1>
        <p class="ht-text -m -bold -center">This is a web application to search across our Infrastructure for read only data.</p>
        <div class="ht-notice -info" aria-labelledby="access-note-heading">
            <h2 id="access-note-heading" class="ht-heading">Note:</h2>
            <p class="ht-text -s">After you login for the first time, you will have to inform Kushal (for the test server) to give you access.</p>
        </div>
    </div>
{% endblock %}
