{% extends "base.html" %}

{% block main %}
    <div class="ht-content -center -middle -narrow">
        {% include "start_page/_shared/content.html" %}
        <p class="ht-text">Using the left hand side menu you can either search across all the hosts we manage, or in the list containers we manage. Search for a particular package and see which all servers/hosts have it right now. You can also find the latest containers with a particular package.</p>
        {% include "start_page/_shared/notice.html" %}
    </div>
{% endblock %}