{% extends "dashboard.html" %}
{% block title %}
    <a class="ht-text -m -bold" href="{% url 'servers:hosts' %}">Host</a>
    {{ block.super }}
    <p class="ht-text"> You are viewing details of
        <strong>{{ host.hostname }}</strong>.
    </p>
{% endblock %}

{% block content %}
<div class="ht-container">
    <h3 class="ht-heading -m">OS details</h3>
    <div class="ht-scrollable">
        <table class="ht-table -vertical-heads">
            <tbody>
                <tr>
                    <th>OS Name</th>
                    <td>{{ details.osname }}</td>
                </tr>
                <tr>
                    <th>OS Release</th>
                    <td>{{ details.osrelease }}</td>
                </tr>
                <tr>
                    <th>Domain</th>
                    <td>{{ details.domain }}</td>
                </tr>
                <tr>
                    <th>Fail2Ban</th>
                    <td>{% if details.fail2ban %} <span class="ht-badge -success">On</span>
                        {% else %} <span class="ht-badge -warning">Off</span>
                        {% endif %}</td>
                </tr>
                <tr>
                    <th>IPv4</th>
                    <td>{{ details.ipv4 }}</td>
                </tr>
                <tr>
                    <th>IPv6</th>
                    <td>{{ details.ipv6 }}</td>
                </tr>
                <tr>
                    <th>Kernel version</th>
                    <td>{{ details.rkr }}</td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>
<div class="ht-containers">
    <h3 class="ht-heading -m">Configuration details</h3>
    <table class="ht-table">
        <tbody>
            {% for config in configurations %}
            <tr>
                <th>{{ config.ctype }}</th>
                <td>{{ config.name }}</td>
                <td>{{ config.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="ht-container">
   <div class="ht-flex">
       <h3 class="ht-heading -m">Running containers: <span class="ht-badge -info">{{ containers|length }}</span></h3>
       <img src="/static/icons/docker-brands-solid.svg" alt="Docker" width="40">
   </div>
    <div class="ht-scrollable">
        <table class="ht-table">
            <thead>
                <tr>
                    <th scope="col">Container Image</th>
                    <th scope="col">Image ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for hc in containers %}
                <tr>
                    <td>{{ hc.container.image }}</td>
                    <td>{{ hc.container.imageid }}</td>
                    <td>{{ hc.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
<div class="ht-container">
    <h3 class="ht-heading -m">Current package list</h3>
    <div class="ht-scrollable">
        <table class="ht-table">
            <thead>
                <tr>
                    <th scope="col">Package name</th>
                    <th scope="col">Package version</th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                <tr>
                    <td><a href="{% url 'servers:package' package.id %}">{{ package.name }}</a></td>
                    <td>{{ package.version }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

<!-- It is running Kernel {{ host.rkr }} using {{ host.osname }} {{ host.osrelease }}.

<p>Domain: {{ host.domain }}</p>
<p>Cosmos URL: {{ host.cosmosrepourl }}</p> -->