{% extends "dashboard.html" %}
{% block title %}
    <p class="ht-text -m">Hosts with package: </p>
    <h1 class="ht-heading -l _mb">{{ package.name }} - {{ package.version }}</h1>
{% endblock %}

{% block content %}
    <div class="ht-scrollable">
        <table class="ht-table">
            <thead>
                <tr>
                    <th scope="col">Host name</th>
                </tr>
            </thead>
            <tbody>
                {% for host in hosts %}
                <tr>
                    <td><a href="{% url 'servers:host' host.id %}">{{ host.hostname }} </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}