.ht-content {
    padding: 4.6875rem;
    min-height: 90svh;

    @media (max-width: 900px) {
        padding: 4.6875rem 1rem;
    }

    &:is(.-center,.-middle) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &.-center {
        align-items: center;
    }

    &.-middle {
        justify-content: center;
    }

    &.-narrow > * {
        margin: 0 auto;
        width: min(100%, 40rem);
    }
}