* {
    box-sizing: border-box;
}

::selection {
    background-color: var(--ht-color--black);
    color: var(--ht-color--white);
}

:focus {
    outline: 3px solid var(--ht-color--info);
}

body {
    padding: 1rem;
    font-family: var(--ht-font-family);
    font-size: var(--ht-font-size);
    line-height: var(--ht-line-height);
    background-color: var(--ht-color--gray-light);
    color: var(--ht-color--black);
}

a {
    color: currentColor;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

// ul, ol {
//     margin: 1rem 0;
//     padding-left: 2rem;
// }

// li {
//     margin-bottom: 0.5rem;
// }

// dl {
//     margin: 1rem 0;
// }

// dt {
//     font-weight: bold;
// }

// dd {
//     margin-left: 1rem;
// }

// /* Blockquotes */
// blockquote {
//     border-left: 4px solid #ccc;
//     margin: 1rem 0;
//     padding: 0.5rem 1rem;
//     color: #555;
//     font-style: italic;
// }

// /* Code */
// code {
//     font-family: "Courier New", Courier, monospace;
//     background-color: #f5f5f5;
//     padding: 0.2rem 0.4rem;
//     border-radius: 3px;
// }

// pre {
//     font-family: "Courier New", Courier, monospace;
//     background-color: #f5f5f5;
//     padding: 1rem;
//     overflow: auto;
//     border-radius: 5px;
//     margin: 1rem 0;
// }

// /* Tables */
// table {
//     width: 100%;
//     border-collapse: collapse;
//     margin: 1rem 0;
// }

// th,
// td {
//     padding: 0.5rem;
//     border: 1px solid #ddd;
//     text-align: left;
// }

// th {
//     background-color: #f4f4f4;
//     font-weight: bold;
// }

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}
