:root {
    & {
        --ht-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --ht-font-family--highlight: 'Inter';
    }

    & {
        --ht-font-size--xs: .875rem; /* 14px */
        --ht-font-size--s: 1rem; /* 16px */
        --ht-font-size: 1.125rem; /* 18px */
        --ht-font-size--m: 1.5625rem; /* 25px */
        --ht-font-size--l: 2.1875rem; /* 35px */
        --ht-font-size--xl: 3.125rem; /* 50px */
        --ht-font-size--xxl: 3.75rem; /* 60px */
    }
    @media (max-width: 768px) {
        --ht-font-size--l: 1.875rem; /* 30px */
        --ht-font-size--xl: 2.5rem; /* 40px */
        --ht-font-size--xxl: 3.125rem; /* 50px */
    }
    @media (max-width: 456px) {
        --ht-font-size--xl: 2.5rem; /* 40px */
        --ht-font-size--xxl: 2.8125rem; /* 45px */
    }
    
    & {
        --ht-line-height: 1.5;
        --ht-line-height--m: 1.3;
        --ht-line-height--l: 1.2;
        --ht-line-height--xl: 1.1;
        --ht-line-height--xxl: 1; 
    }

    & {
        --ht-border-radius: 20px;
    }
    
    & {
        --ht-color--primary: #CA402B;
        --ht-color--success: #5FAD56;
        --ht-color--info: #48ACF0;
        --ht-color--warning: #F5BB00;
        --ht-color--danger: #DC3545;
        --ht-color--gray: #D2D2D2;
        --ht-color--gray-light: #F4F4F4;
        --ht-color--gray-dark: #414141;
        --ht-color--black: #000000;
        --ht-color--white: #ffffff;
    }

    & {
        --ht-box-shadow: 0px 5px 17px rgba(89, 89, 89, 0.1);
    }
}