.ht-dashboard {
    

    @media (min-width: 1025px) {
        display: grid;
        gap: 2rem;
        grid-template-columns: 300px auto;
        grid-template-areas: 'sidebar main';
    }

    > .sidebar {
        grid-area: sidebar;
    }

    > .main {
        grid-area: main;
        padding: 1rem;
        min-height: calc(100svh - 2rem);
        border-radius: var(--ht-border-radius);
        background-color: var(--ht-color--white);
        color: var(--ht-color--black);
    }
}