.ht-dashboard {
    display: grid;
    gap: 2rem;
    grid-template-columns: 300px auto;

    > .sidebar {
        grid-column: 1;
    }

    > .main {
        grid-column: 2;
        min-height: calc(100svh - 2rem);
        padding: 1rem;
        border-radius: var(--ht-border-radius);
        background-color: var(--ht-color--white);
        color: var(--ht-color--black);
    }
}