.ht-unordered-list {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
  