.ht-flex {
    display: flex;
    gap: 1.5rem;

    &.-center {
        justify-content: center;
    }

    &.-space-between {
        justify-content: space-between;
    }

    &.-middle {
        align-items: center;
    }
}