{% extends "containers/base.html" %}
{% block title %}Container details{% endblock %}

{% block content %}
{% if error %}
<div class="m-5">
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
</div>

{% else %}
<div class="container-md m-5">
    <div class="container-md md-5">
        <p class="h2"> You are viewing details of the image with existing tag(s):
        </p>
    </div>
    {% for tag in tags %}
    <p class="h3 mt-5">{{ tag.fullname }}</p>
    {% endfor %}
</div>
<div class="container-md m-5">
    <h3>OS details</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>OS Name</td>
                <td>{{ cb.osname }}</td>
            </tr>
            <tr>
                <td>OS Version</td>
                <td>{{ cb.osversionid }}</td>
            </tr>
            <tr>
                <td>SHA256</td>
                <td>
                    {{ cb.cid }}
                </td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>
                    {{ cb.ctime|date:"r" }}
                </td>
            </tr>

        </tbody>
    </table>

</div>
<div class="container-md m-5">
    <p class="h3">Package list</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Package name</th>
                <th scope="col">Package version</th>
                <th scope="col">Provider</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
            <tr>
                <td><a href="{% url 'containers:package' package.id %}">{{ package.name }}</a></td>
                <td>{{ package.version }}</td>
                <td>{{ package.provider }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}