{% extends "containers/base.html" %}
{% block title %}Package details{% endblock %}

{% block content %}
<div class="container-md">
    <h3 class="m-5">Latest container tags with package:
        {{ package.name }} - {{ package.version }} - {{ package.provider }}
    </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Container name</th>
            </tr>
        </thead>
        <tbody>
            {% for cb in data %}
            <tr>
                <td><a href="{% url 'containers:cbase' cb.cid %}">{{ cb.fullname }} </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}